body {
    font-family: "Poppins", sans-serif;
    padding-top: 35px;
}

h1 {
    font-size: 4.3em;
    font-weight: 600;
}

h2 {
    font-size: 2.3em;
    font-weight: 600;
}

h4 {
    font-size: 1.5em;
    font-weight: 500;
}

h5 {
    font-size: 1.8em;
    font-weight: 500;
}

p {
    font-size: 1em;
    font-weight: 400;
}

.bg-navbar {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav-link {
    color: rgba(0, 0, 0, 1);
}

.nav-link.active {
    color: rgba(1, 23, 255, 1) !important;
}

.custom-shadow {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
    border: 2px solid #979797;
    border-radius: 16px;
}

.btn-gradient {
    background: linear-gradient(
        90deg,
        rgba(255, 188, 255, 1) 0%,
        rgba(1, 23, 255, 1) 100%
    );
    color: white;
}

.button-36 {
    background: linear-gradient(
        90deg,
        rgba(255, 188, 255, 1) 0%,
        rgba(1, 23, 255, 1) 100%
    );
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    flex-shrink: 0;
    height: 3.5rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all 0.5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
}

.button-36:disabled {
    opacity: 0.5; /* Reduce opacity to indicate it's disabled */
    cursor: not-allowed;
}

.button-36:hover:not([disabled]) {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: 0.1s;
    color: #ffffff;
}

@media (min-width: 768px) {
    .button-36 {
        padding: 0 2.6rem;
    }
}

@media (max-width: 992px) {
    .row {
        flex-direction: column;
    }

    .col {
        width: 100%;
    }
}

#car-image {
    aspect-ratio: 4/3;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.footer {
    border-top-right-radius: 200px;
    background-color: rgba(0, 0, 255, 1);
    color: rgba(255, 255, 255, 1);
}

#invalidCheck {
    display: none;
}
