body {
    font-family: "Poppins", sans-serif;
    padding-top: 90px;
}

h1 {
    font-size: 3em;
    font-weight: 600;
}

h2 {
    font-size: 2.3em;
    font-weight: 600;
}

h4 {
    font-size: 1.5em;
    font-weight: 500;
}

h5 {
    font-size: 1.8em;
    font-weight: 500;
}

p {
    font-size: 1em;
    font-weight: 400;
}

i {
    font-size: 1.5em;
}

input:not(.spin-enabled)::-webkit-outer-spin-button,
input:not(.spin-enabled)::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]:not(.spin-enabled) {
    -moz-appearance: textfield;
}

.bg-navbar {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav-link {
    color: rgba(0, 0, 0, 1);
}

.nav-link.active {
    color: rgba(1, 23, 255, 1) !important;
}

.noUi-connect {
    background: linear-gradient(
        90deg,
        rgba(255, 209, 67, 1) 0%,
        rgba(255, 145, 83, 1) 90%
    );
}

.button-36 {
    background: linear-gradient(
        90deg,
        rgba(255, 188, 255, 1) 0%,
        rgba(1, 23, 255, 1) 100%
    );
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    flex-shrink: 0;
    height: 3rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all 0.5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-36:hover {
    color: #ffffff;
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 10px;
    transition-duration: 0.1s;
}

.button-36-disabled {
    background: linear-gradient(
        94.3deg,
        rgba(26, 33, 64, 1) 10.9%,
        rgba(81, 84, 115, 1) 87.1%
    );
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    flex-shrink: 0;
    height: 3rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all 0.5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.bg-disabled {
    background-color: rgba(0, 0, 0, 0.5);
}

.card-price {
    font-size: 1.3em;
    font-weight: 500;
}

.card-specs {
    display: flex;
    width: 40px;
}

.card-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.5);
    z-index: 1;
}

.card-image,
.card-content {
    position: relative;
    z-index: 0;
}

.card-header {
    font-size: 0.85em !important;
}

@media (max-width: 576px) {
    body {
        padding-left: 25px;
        padding-right: 25px;
    }
}

#error-message {
    display: none;
}

.input-danger {
    border-width: 3px;
    border-color: red;
}

#car-image {
    aspect-ratio: 4/3;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
