*

!dumCars/
!dumCars/daihatsuSigra.jpg
!dumCars/fordRanger.jpg
!dumCars/hondaJazz.jpg
!dumCars/mitsubishiPajero.png
!dumCars/nissanMarch.jpg
!dumCars/suzukiXL7.jpg
!dumCars/toyotaAvanza.jpg

!avatars/
avatars/*
!avatars/default.jpg

!.gitignore
